/* CSS call to action */
@import "src/assets/scss/responsive";

.call-to-action-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.call-to-action-content {
  text-align: center;

  h2 {
    font-weight: 100;
    font-size: 72px;
    margin-bottom: 15px;
    @media #{$breakpoint-lg} {
      font-size: 55px;
    }
    @media #{$breakpoint-md} {
      font-size: 36px;
    }
    @media #{$breakpoint-xs} {
      font-size: 30px;
    }
  }

  h5 {
    font-size: 48px;
    margin-bottom: 0;

    @media #{$breakpoint-md} {
      font-size: 30px;
    }
    @media #{$breakpoint-xs} {
      font-size: 24px;
    }
  }
}
