/* CSS call to action */
@import "src/assets/scss/responsive";
@import "src/assets/scss/theme_color";

.call-to-action-area {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .backend-content {
    h2 {
      position: absolute;
      font-size: 230px;
      color: #f0f0f0;
      z-index: -1;
      top: -30px;
      left: -3%;

      @media #{$breakpoint-lg} {
        font-size: 170px;
      }
      @media #{$breakpoint-md} {
        font-size: 130px;
      }
      @media #{$breakpoint-xs} {
        font-size: 100px;
      }
    }
  }
}

.call-to-action-content {
  text-align: center;

  h2 {
    font-weight: 100;
    font-size: 72px;
    margin-bottom: 15px;
    @media #{$breakpoint-lg} {
      font-size: 55px;
    }
    @media #{$breakpoint-md} {
      font-size: 36px;
    }
    @media #{$breakpoint-xs} {
      font-size: 30px;
    }
  }

  h5 {
    font-size: 48px;
    margin-bottom: 0;

    @media #{$breakpoint-md} {
      font-size: 30px;
    }
    @media #{$breakpoint-xs} {
      font-size: 24px;
    }
  }
}
