<!--Main menu-->
<div class="mainMenu d-flex align-items-center justify-content-between {{menuOpen}}">
  <!--  Close button-->
  <div class="closeIcon">
    <i class="ti-close" aria-hidden="true"></i>
  </div>
  <!--  Logo-->
  <div class="logo-area">
    <a routerLink="">Eden</a>
  </div>
  <!--  Nav-->
  <div class="sonarNav wow fade-in-up" data-wow-delay="1s">
    <nav>
      <ul>
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Portfolios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
