/* CSS for grids */
@import './src/assets/scss/theme_color';


.grid {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;

  div {
    width: 1px;
    height: 100%;
    background-color: $grid-color;

    &:nth-child(5) {
      background-color: $grid5-color;
    }

    &:first-child,
    &:last-child {
      background-color: transparent;
    }
  }
}
