/* CSS for show case article */
@import "src/assets/scss/responsive";
@import "src/assets/scss/mixin";

.show-case-article {
  position: relative;
  z-index: 1;

  .show-case-image {
    cursor: pointer;
  }

  .show-case-meta {
    padding-top: 30px;

    p {
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 5px;
    }

    h2 {
      font-size: 30px;
      @media #{$breakpoint-xs} {
        font-size: 24px;
      }
    }
  }

  &.show-case-article-0-1 {
    @media #{$breakpoint-xs} {
      margin-bottom: 100px;
    }
  }

  &.show-case-article-1-2 {
    .show-case-meta {
      p {
        text-align: right;
        @media #{$breakpoint-xs} {
          text-align: left;
        }
      }

      h2 {
        text-align: right;
        @media #{$breakpoint-xs} {
          text-align: left;
        }
      }
    }
  }
}
