@import 'src/assets/scss/theme_color';

app-modal {
  .article-photos {
    width: 70%;
    background-color: $bg-default;
    justify-content: center;
    display: flex;

    img {
      max-width: 100%;
      max-height: 90vh;
    }
  }

  .article-content {
    width: 30%;
  }
}
