@import 'src/assets/scss/theme_color';

.btn {
  position: relative;
  z-index: 1;
  min-width: 180px;
  height: 66px;
  border: 1px solid $heading-color;
  text-transform: uppercase;
  color: $heading-color;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 0;
  line-height: 64px;
  padding: 0;
  background-color: $color-white;

  &:hover,
  &.focus {
    background-color: $heading-color;
    font-size: 12px;
    color: $color-white;
  }
}
