<!--Main menu-->
<div class="mainMenu d-flex align-items-center justify-content-between {{state}}" (mouseleave)="closeMenu()">
  <!--  Close button-->
  <div class="closeIcon" (click)="closeMenu()">
    <i class="ti-close" aria-hidden="true"></i>
  </div>
  <!--  Logo-->
  <app-logo></app-logo>
  <!--  Nav-->
  <div class="sonarNav" (click)="closeMenu()">
    <nav>
      <ul>
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
