/* :: Header Area CSS */
@import '../../../../assets/scss/theme_color';
@import '../../../../assets/scss/responsive';
@import '../../../../assets/scss/mixin';


.header-area {
    position: fixed;
    z-index: 995;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    @include trans-duration(500ms);
    background-color: transparent;
    padding: 15px 30px;

    &.sticky {
        background-color: $bg-default;
    }
    @media #{$breakpoint-xs} {
        padding: 10px 0;
    }
}
