/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import './src/assets/css/bootstrap.min';
@import './src/assets/css/font-awesome.min';
//@import './src/assets/scss/mixin';
//@import './src/assets/css/animate';
//@import './src/assets/css/owl.carousel';
//@import './src/assets/css/magnific-popup';
//@import './src/assets/css/font-awesome.min';
//@import './src/assets/css/themify-icons';


$font-family: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
}
